@model PagedList.IPagedList<Model.EF.Product>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header{
    Danh sách sản phẩm
}

@section jsFooter{

}

<div class="row">
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Danh sách sản phẩm</h6>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Index", "Product", FormMethod.Get))
                {
                    <div class="row form-group">

                        <div class="col-md-3">
                            <input type="text" name="searchString" class="form-control" value="@ViewBag.SearchString" />
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-outline-success">Tìm kiếm</button>
                            <a class="btn btn-outline-primary" href="/Admin/Product/Create">Thêm mới</a>
                        </div>

                    </div>
                }

                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>

                                <th>Tiêu đề</th>
                                <th>Hình ảnh</th>
                                <th>Ngày đăng</th>
                                <td>Trạng thái</td>
                                <th>Chức năng</th>

                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="row_@item.ID">

                                    <td>@item.Name</td>
                                    <td><img src="@item.Images" width="100" /></td>
                                    <td>@item.CreateDate</td>
                                    <td><a href="#" class="btn-active" data-id="@item.ID">@Html.Raw(item.Status.GetValueOrDefault() ? "Kích hoạt" : "Khóa")</a></td>
                                    <td>
                                        @*<a href="/Admin/Product/Edit/@item.ID">Chi tiết</a> |*@
                                        @Html.ActionLink("Chi tiết", "Details", new { @id = item.ID }, new { @class = "btn btn-sm btn-outline-warning" } ) |
                                        @Html.ActionLink("Sửa", "Edit", new { @id = item.ID }, new { @class = "btn btn-sm btn-outline-info" } ) |

                                   
                                        @Ajax.ActionLink("Xóa","Delete",new { @id = item.ID},new AjaxOptions {
                                       Confirm="Bạn có muốn xóa bản ghi này?",
                                       OnComplete = "$('#row_"+item.ID+"').remote()",
                                       HttpMethod = "Delete"
                                   }, new { @class = "btn btn-sm btn-outline-danger" })
                                    </td>
                                </tr>

                            }



                        </tbody>
                    </table>
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }),
                        new PagedListRenderOptions {
                            LiElementClasses = new string[] { "page-link" },
                        })
                    

                </div>
            </div>
        </div>
    </div>
</div>

