@model List<OnlineShop.Models.CartItem>
<div class="cart">
    <p>
        <a href="/gio-hang"><span src="/gio-hang">Giỏ hàng:</span></a> <div id="dd" class="wrapper-dropdown-2">
            @Model.Count sản phẩm
            <ul class="dropdown" style="width:450px;">
                <li>
                    <table class="table">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Product.Name</td>
                                <td><img src="@item.Product.Images" width="30" /></td>
                                <td><input type="text" class="txtQuantity" data-id="@item.Product.ID" value="@item.Quantity" style="width:25px;" /></td>
                                <td>@item.Product.Price.GetValueOrDefault(0).ToString("N0")</td>
                                <td>@((item.Product.Price.GetValueOrDefault(0) * item.Quantity).ToString("N0"))</td>

                            </tr>
                        }
                    </table>
                </li>
            </ul>
        </div>
    </p>
</div>
